<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="nav-name">
                Products
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="manufacturer"><i class="fa fa-industry" aria-hidden="true"></i> Manufacturer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="product"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="product-category"><i class="fa fa-cubes" aria-hidden="true"></i>Product Category</a>
            </li>
        </ul>
    </nav>
</div>
