<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a th:href="@{/}"  class="site_title"><i class="fa fa-spinner"></i> <span>Dynamos</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
        <div class="profile_pic">
            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>John Doe</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>e-Commerce</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="layout.html">Dashboard</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-usd"></i> Vendas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-cubes"></i> Produtos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/produtos/cadastro}">Cadastrar</a></li>
                        <li><a th:href="@{/produtos}">Consultar</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa  fa-diamond"></i> Customers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/customers}">Consultar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu_section">
            <h3>Conteúdo</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-envira"></i> Blog <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="tables.html">Nova Postagem</a></li>
                        <li><a href="tables_dynamic.html">Postagens</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-cubes"></i> Páginas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/produtos/cadastro}">Cadastrar</a></li>
                        <li><a th:href="@{/produtos}">Consultar</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-cog"></i> Ferramentas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/seo}">SEO </a></li>
                        <li><a th:href="@{/analytics}">Google Analytics </a></li>
                        <li><a th:href="@{/emarketing}">E-mail Marketing </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>