<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Edit Manufacturer</h4>
    </div>
    <div class="panel-body">
        <form name="manufacturerForm">
            <div class="row">
                <div class="col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="vm.manufacturer.name">
                </div>
                <div class="col-md-4">
                    <label>Telephone</label>
                    <input type="text" class="form-control" ng-model="vm.manufacturer.telephone">
                </div>
                <div class="col-md-4">
                    <label>Address</label>
                    <input type="text" class="form-control" ng-model="vm.manufacturer.address">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right voffset-button">
                        <button class="btn btn-flat btn-default" ui-sref="manufacturer">Back</button>
                        <button class="btn btn-flat btn-success" ng-click="vm.save()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>