<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${'Meu Perfil'}"></h3>
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <div ng-if="messages" ng-repeat="m in  messages">
                        <div class="alert alert-dismissable" ng-class="'alert-' +  m.messageType">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong >{{m.title}}</strong> <span>{{m.body}}</span>
                        </div>
                    </div>
                    <form ng-submit="save()" name="perfilForm">
                        <div class="form-group" >
                            <label for="firstName">Nome</label>
                            <span class="form-control" id="firstName" name="firstName" maxlength="50">{{user.firstName}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': perfilForm.email.$invalid}">
                            <label for="email" translate="global.form.email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" required="true" ng-model="user.email" maxlength="100"/>
                            <span class="label label-danger" th:text="#{system.validation.email_not_valid}" ng-if="perfilForm.email.$invalid"></span>
                        </div>
                        <div class="form-group">
                            <label for="email" translate="global.form.email">Identificação Única no Sistema</label>
                            <span class="form-control">{{user.login}}</span>
                        </div>
                        <div class="form-group">
                            <label for="email" translate="global.form.email">Data de Inclusão</label>
                            <span class="form-control">{{user.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> Atribuições</h3>
                                </div>
                                <div class="panel panel-body">
                                    <table id="atribuicoes" class="table table-condensed">
                                        <thead>
                                        <th>Nome</th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="auth in user.authorities">
                                            <td>{{auth.decodeName}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>