<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <base href="/"/>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="google" value="notranslate"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" th:href="@{/components/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/template/main.css}"/>

    <!-- bower:css -->
    <link rel="stylesheet" th:href="@{/components/angular-loading-bar/build/loading-bar.css}"/>
    <link rel="stylesheet" th:href="@{/components/Ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/components/components-font-awesome/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/components/Bootflat/bootflat/css/bootflat.css}"/>
    <link rel="stylesheet" th:href="@{/components/Bootflat/bootflat/css/bootflat.min.css}"/>
    <!-- endbower -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
    <!--[if lt IE 9]>
    <script src="https:/oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Dashboard</title>
</head>
<body  ng-app="rhinoApplication" >
<nav class="navbar navbar-custom" ui-view="nav-header"></nav>

<div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-grey" ui-view="top-menu"></nav>
        <div attr="messages"></div>
    </div>

    <div class="row" ui-view="content"></div>


</div>

<!-- bower:js -->
<script th:src="@{/components/jquery/dist/jquery.js}"></script>
<script th:src="@{/components/angular/angular.js}"></script>
<script th:src="@{/components/angular-cache-buster/angular-cache-buster.js}"></script>
<script th:src="@{/components/angular-loading-bar/build/loading-bar.js}"></script>
<script th:src="@{/components/angular-resource/angular-resource.js}"></script>
<script th:src="@{/components/angular-sanitize/angular-sanitize.js}"></script>
<script th:src="@{/components/json3/lib/json3.js}"></script>
<script th:src="@{/components/ng-file-upload/ng-file-upload.js}"></script>
<script th:src="@{/components/bootstrap/dist/js/bootstrap.js}"></script>
<script th:src="@{/components/Bootflat/bootflat/js/icheck.min.js}"></script>
<script th:src="@{/components/Bootflat/bootflat/js/jquery.fs.selecter.min.js}"></script>
<script th:src="@{/components/Bootflat/bootflat/js/jquery.fs.stepper.min.js}"></script>
<script th:src="@{/components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
<script th:src="@{/components/ngInfiniteScroll/build/ng-infinite-scroll.js}"></script>
<script th:src="@{/components/angular-animate/angular-animate.js}"></script>
<script th:src="@{/components/angular-ui-router/release/angular-ui-router.js}"></script>
<!-- endbower -->


<script type="text/javascript" src="js/dist/app.js"></script>

</body>
</html>
