<div class="sidebar" ng-controller="sidebarController as vm">
    <nav class="sidebar-nav" ng-switch="vm.isAuthenticated()">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item" has-authority="ROLE_ADMIN">
                <a class="nav-link" ui-sref="users"><i class="icon-user"></i> Users</a>
            </li>
        </ul>
    </nav>
</div>