<div class="card">
    <div class="card-header">
        <i class="fa fa-user"></i> My Profile
        <div class="pull-right">
            <button class="btn btn-primary" ui-sref="app.main">
                <i class="fa  fa-backward"></i> <span class="hidden-xs  hidden-sm">Back</span>
            </button>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="input-user-name">Name</label>
                    <span id="input-user-name" class="form-control">{{identity.name}}</span>
                </div>
                <div class="form-group">
                    <label for="input-user-roles">Roles</label>
                    <span id="input-user-roles" class="form-control" ng-repeat="authoritie in identity.authorities">
                        {{authoritie.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
